@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: hsl(0, 0%, 8%);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    width: 350px;
    height: 520px;
    padding-top: 30px;
    padding-bottom: 20px;
}

img{
    border-radius: 50%;
}

h1{
    font-size: 24px;
}

h2{
    color: greenyellow;
    font-size: 14px;
    padding-bottom: 5px;
}

p{
    color: white;
    font-size: 13px;
}

.name{
    color: white;
}

.links{
    color: white;
    border-radius: 5px;
    background-color: hsl(0, 0%, 20%);
    display: inline-flex;
    justify-content: center;
    padding: 3px;
    width: 290px;
    margin: 8px;
}

.links:hover{
    background-color: greenyellow;
    color: black;
    cursor: pointer;
}

.socials{
    font-size: 12px;
}